<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Primer crud con jpa, spring</title>
    <meta charset="UTF-8">
    <meta name="Author" content="JGSS">
    <meta name="keywords" content="Egg">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous"/>

</head> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<body>
<h1 th:text="${name}"> </h1>
<br/>

<div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Client name</th>
            <th>Gender</th>
            <th>Birth day</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="client: ${client}">

    <td th:text="${client.id_client}"></td>
    <td th:text="${client.nameclient}"></td>
    <td th:text="${client.gender}"></td>
    <td th:text="${client.birth}"></td>
    <td th:text="${client.passwordclient}"></td>
    </tr>
    </tbody>
    </table>
    <a th:href="@{/createClient}" class="btn btn-primary" style="margin-top: 10px ;margin-left: 25px;">
        Create client </a>
    </div>

</body>
</html>